<body>
<div class="container" id="container">
  <div class="form-container sign-up-container">
   
    <form action="#" [formGroup]="register" id="register" errorTailor>
      <h1>Crear cuenta</h1>
      
      <span style="margin:1rem; margin-top: 2rem;">Use su correo para registrarse</span>
      <input type="text" placeholder="Nombre" formControlName="name" />
      <input type="text" placeholder="Fecha de nacimiento" onfocus="(this.type='date')" onblur="(this.type='text')"  formControlName="date"/>
      <input type="email" placeholder="Correo"  formControlName="email"/>
      <p *ngIf="register.get('email')?.hasError('email')" style="margin: 0; color: red; padding: 0;">Ingrese un correo correcto</p>
      <input type="password" placeholder="Contraseña" formControlName="psw"/>
      <p *ngIf="register.get('psw')?.hasError('minlength')" style="margin: 0; color: red; padding: 0;">Ingrese una contraseña mayor a 5 caracteres</p>
      <p  class="error" *ngIf="msgError">{{msg_error}} </p>
      <button style="margin-top: 1rem; cursor: pointer;" [disabled]="register.invalid" type="button" (click)="registro()">Registrate</button>
    </form>
  </div>
  <div class="form-container sign-in-container">

    <form action="#" [formGroup]="login">
      <h1>Inicia Sesión</h1>
      
      <span style="margin-top: 2rem; margin-bottom: 1rem;">Use su correo y contraseña</span>
      <input type="email" placeholder="Correo" formControlName="email" (keydown.enter)="inicioSesion()" />
      <p *ngIf="login.get('email')?.hasError('email')" style="margin: 0; color: red; padding: 0;">Ingrese un correo correcto</p>
      <div class="psw-input">
        <input [type]="showPassword?'text':'password'" placeholder="Contraseña"  formControlName="psw" (keydown.enter)="inicioSesion()"/>
        <ion-icon (click)="showPassword=!showPassword" [name]="showPassword?'eye-off-outline':'eye-outline'" class="eye-icon"></ion-icon>
      </div>
      
      <p class="error" *ngIf="loginErrorPsw">Correo o contraseña incorrectos</p>
      <p class="error" *ngIf="loginErrorEmail">Correo no registrado en el sistema</p>
  
      
      <button style="margin-top: 1.5rem; cursor: pointer;" type="button" [disabled]="login.invalid" (click)="inicioSesion()">Inicio Sesión</button>
    </form>
  </div>
  <div class="overlay-container">
    
    <div class="overlay">
     
      <div class="overlay-panel overlay-left">
        <h1>!Bienvenido de vuelta!</h1>
        <p>Inicia sesión con tus credenciales para poder ingresar al dashboard.</p>
        <button class="ghost" id="signIn" (click)="invertirSlide()">Inicio Sesión</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>!Hola, que tal! 👋</h1>
        <p>Registre su cuenta y disfrute del mundo financiero con nosotros.</p>
        <button class="ghost" id="signUp" (click)="cambiarSlide()">Registro</button>
      </div>
    </div>
  </div>
</div>
</body>
