   
<h1 class="tracking-in-expand">Bienvenido(a) {{ name }}</h1>
<p class="tracking-in-expand" style="animation-delay: 0.8s">
Hoy es {{ fecha | date : "dd-MM-yyyy" }}
</p>  
<div class="content">
    <div class="pasos">
        <h4>Para realizar una corrida</h4>
        <h6>1. Dirigirse al boton "Realizar corrida" en el panel de navegación</h6>
        <h6>2. Ingrese el tipo de moneda: Soles o Dolares</h6>
        <h6>3. Ingrese el valor del inmueble.</h6>
        <h6>4. Ingrese el porcenteja de la cuota inicial. Ejem:
            30%</h6>
        <h6>5. Ingrese el tipo de tasa: Efectiva o Nominal</h6>
        <h6>6. Seleccione el tiempo de la tasa: Mensual, Bimestral, Trimestral,
            Semestral o Anual</h6>
        <h6>7. Ingrese el valor de la tasa.</h6>
        <h6>8. Seleccione la frecuencia del pago: Mensual, Bimestral,
            Trimestral, Semestral o Anual</h6>
        <h6>9. Ingrese la cantidad de años en la que se pagará la corrida.
            Ejem: 3</h6>
        <h6>10. Seleccione el plaza de gracia: Parcial, Total o
            ninguno</h6>
        <h6>11. Haga click en el botón "Validar corrida"</h6>
        <h6>12. En el panel derecho podra observar una vista previa de la
            corrida a generar</h6>
        <h6>
            13. Una vez validado los datos, haga click en el boton "Generar
        corrida" para almacenar dicha información en la base de
        datos
        </h6>
    </div>
    <div class="imagen">
        <img loading="lazy" src="https://www.mivivienda.com.pe/PortalCMS/archivos/documentos/FMV%20LOGO-3203.PNG" width="100%" />
    </div>
</div>

