<section>
    <h1 class="tracking-in-expand">Soporte</h1>
    <div class="content">
        <div class="formularios">

            <form [formGroup]="FormularioGroup" class="support-form">
                <h2 style="padding-bottom: 10px;">Envíe una solicitud a nuestro equipo de soporte</h2>
                <mat-form-field style="width: 300px" appearance="outline">
                    <mat-label style=" font-family: 'Montserrat', sans-serif;">Seleccione un tipo</mat-label>
                    <mat-select style=" font-family: 'Montserrat', sans-serif;" formControlName="type">
                        <mat-option style=" font-family: 'Montserrat', sans-serif;" value="Bug">Bug</mat-option>
                        <mat-option style=" font-family: 'Montserrat', sans-serif;" value="Recomendación">Recomendación</mat-option>
                        <mat-option style=" font-family: 'Montserrat', sans-serif;" value="Otro">Otro</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 70%" appearance="outline">
                    <mat-label style=" font-family: 'Montserrat', sans-serif;">Descripción</mat-label>
                    <textarea style=" font-family: 'Montserrat', sans-serif;" formControlName="message" rows="5" matInput></textarea>
                </mat-form-field>
                <h4 style="margin-bottom: 1rem ;" [innerHTML]="messageInfo"></h4>
                <button mat-raised-button color="primary" type="button" (click)="sendData()">Enviar</button>
            </form>
        </div>
        <div class="faq">
            <h1>FaQ 👷</h1>
            <ol>
                <li>
                    <h4>¿Qué sistema de amortización se está utilizando? </h4>
                    <p> Se está utilizando el metodo frances, que tiene como principal caracteristica las cuotas constantes.
                    </p>
                </li>
                <li>
                    <h4>¿Qué periodos de gracia están disponibles? </h4>
                    <p>- Parcial: Cuando la amortización es igual 0 y el saldo final se mantiene igual que el saldo inicial y la cuota es la misma que el interés.
                    </p>
                    <p>
                        - Total: Cuando la cuota y la amortización es igual a 0, y para el saldo final se le suma el interés al saldo inicial.
                    </p>
                </li>
                <li>
                    <h4>¿Por qué no puedo ver mis corridas en el historial? </h4>
                    <p>
                        Para guardar sus corridas, debe primero ubicar y presionar el boton "Guardar" cada vez que usted realice alguna corrida.</p>

                </li>
            </ol>
        </div>
    </div>


</section>